<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <queries>
        <intent>
            <action android:name="android.provider.Telephony.SMS_DELIVER"/>
        </intent>
    </queries>
    <application android:allowBackup="false" android:label="QuietOS" android:theme="@style/Theme.QuietOS">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".attention.QuietNotificationListenerService"
            android:label="QuietOS Attention Engine"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <service
            android:name=".calls.QuietCallScreeningService"
            android:label="QuietOS Spam Call Protection"
            android:permission="android.permission.BIND_SCREENING_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.telecom.CallScreeningService"/>
            </intent-filter>
        </service>
    </application>
</manifest>
